@model Transaction

@{
    ViewData["Title"] = "Delete";
}

<div class="col-md-7">
    <h2>Are you sure you want to delete this transaction?</h2>
    <hr />

    <h4>Date Occurred</h4>
    <p>@Model.DateOccurred.ToShortDateString()</p>
    
    <h4>Amount</h4>
    <p>@Model.Amount.ToString("c")</p>

    <h4>Source</h4>
    <p>@Model.Source</p>

    <h4>Memo</h4>
    <p>@Model.Memo</p>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-my-edt" />
        <a asp-action="Index" class="btn btn-my-edit">Cancel</a>
    </form>
</div>
