@model Transaction

@{
    ViewData["Title"] = "Edit";
}

<div class="col-md-3">
    <h2>Edit Transaction.</h2>
    <hr />

    @if (!this.ViewContext.ModelState.IsValid)
    {
        <div class="alert alert-danger">
            @Html.ValidationSummary(false)
        </div>
    }

    <form asp-action="Edit" class="form-group">
        @Html.AntiForgeryToken()
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <!-- Passing in data from the Transaction that's needed for binding, but should not be edited. -->
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="DateEntered" />
        <input type="hidden" asp-for="UserId" />

        <div class="form-group">
            <label asp-for="DateOccurred" class="control-label">Date</label>
            <input asp-for="DateOccurred" type="date" class="form-control" />
            <span asp-validation-for="DateOccurred" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Amount" class="control-label"></label>
            <input asp-for="Amount" class="form-control" />
            <span asp-validation-for="Amount" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Source" class="control-label"></label>
            <input asp-for="Source" class="form-control" />
            <span asp-validation-for="Source" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Memo" class="control-label"></label>
            <input asp-for="Memo" class="form-control" />
            <span asp-validation-for="Memo" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="CategoryId" class="control-label">Category</label>
            <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
            <span asp-validation-for="CategoryId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input asp-for="IsInflow" /> Is this an Inflow?
                </label>
            </div>
        </div>
        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input asp-for="IsOutlay" /> Is this an Outlay?
                </label>
            </div>
        </div>
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-my-edit" />
            <a asp-action="Index" class="btn btn-my-edit">Cancel</a>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
