@model TransactionEntryViewModel

@{
    ViewData["Title"] = "Transaction Entry";
}

<div class="col-md-3">
    <h2>Enter your inflow, layman.</h2>
    <hr />

    @if (!this.ViewContext.ModelState.IsValid)
    {
        <div class="alert alert-danger">
            @Html.ValidationSummary(false)
        </div>
    }

    <form class="form-group" method="post" novalidate>
        @Html.AntiForgeryToken()
        <div>
            <label for="transaction.DateOccurred">Date</label>
            <input class="form-control" type="date" name="transaction.DateOccurred" value="" required />
            <span class="invalid-feedback">When was the inflow?</span>
        </div>
        <div>
            <label for="transaction.Amount">Amount</label>
            <input class="form-control" type="number" step="0.01" name="transaction.Amount" value="" required />
            <span class="invalid-feedback">How much was the inflow?</span>
        </div>
        <div>
            <label for="transaction.Source">Source</label>
            <input class="form-control" type="text" name="transaction.Source" value="" required />
            <span class="invalid-feedback">Who gave thee money?</span>
        </div>
        <div>
            <label for="transaction.Memo">Memo</label>
            <input class="form-control" type="text" name="transaction.Memo" value="" required />
            <span class="invalid-feedback">Give me some details for posterity's sake.</span>
        </div>
        <div>
            <div class="categories-select">
                <label>Category</label>
                <select name="SelectedCategory" class="form-control" required>
                    <option value="">Select a Category</option>
                    @foreach (var cat in Model.InflowCategories)
                    {
                        <option value="@cat">@cat</option>
                    }
                </select>
                <span class="invalid-feedback">Choose a category</span>
            </div>
        </div>
        <hr />
        <input type="submit" class="btn btn-my-edit" />
        <a asp-controller="Dashboard" asp-action="Index" class="btn btn-my-edit">Cancel</a>
    </form>
</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(() => {
            $('form').submit((event) => {
                if (event.target.checkValidity() == false) {
                    event.preventDefault();
                    event.stopPropagation();
                }
                $(event.target).addClass('was-validated');
            })
        });
    </script>
}