@{
    Layout = null;
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Welcome to Layman Finance</title>
    <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/4.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.min.css" />
</head>
<body>
    <div id="splash-page-container">
        <div class="container" id="hero-text-box">
            <h1 class="display-2">Welcome to Layman Finance.</h1>
            <div class="display-4" id="sub-heading">Make personal finance <b>personal</b>.</div>
            <div id="btn-container">
                <a asp-controller="account" asp-action="login" class="btn home-btn">Login</a>
                <a asp-controller="account" asp-action="register" class="btn home-btn">Register</a>
            </div>
            
        </div>
    </div>
</body>
</html>




