@model LaymanFinance.Models.LedgerViewModel;
@{
    ViewData["Title"] = "Ledger";
}

<h2>Ledger</h2>
@foreach(var ledgerItem in Model.Inflow)
{
    <div>@ledgerItem.Memo</div>
}

@foreach (var ledgerItem in Model.Outlay)
{
    <div>@ledgerItem.Memo</div>
}
