@model LaymanFinance.Models.OutlayEntryViewModel
@{
    ViewData["Title"] = "Outlay Entry Page";
}

<div>
    <h2>Enter your outlay, layman.</h2>

    @if (!this.ViewContext.ModelState.IsValid)
    {
        <div class="alert alert-danger">
            @Html.ValidationSummary(false)
        </div>
    }

    <form class="form-group" method="post" novalidate>
        @Html.AntiForgeryToken()
        <div>
            <label for="outlay.DateOccurred">Date</label>
            <input class="form-control" type="date" name="outlay.DateOccurred" value="" required />
            <span class="invalid-feedback">Enter a date.</span>
        </div>
        <div>
            <label for="outlay.Amount">Amount</label>
            <input class="form-control" type="number" name="outlay.Amount" value="" required />
            <span class="invalid-feedback">Enter an amount.</span>
        </div>
        <div>
            <label for="outlay.Description">Payee</label>
            <input class="form-control" type="text" name="outlay.Payee" value="" required />
            <span class="invalid-feedback">Enter who got your money.</span>
        </div>
        <div>
            <label for="outlay.Description">Memo</label>
            <input class="form-control" type="text" name="outlay.Memo" value="" required />
            <span class="invalid-feedback">Give me some details.</span>
        </div>
        <div>
            <label>Category</label>
            <select name="selectedCategory" class="form-control" required>
                <option value="">Select a Category</option>
                @foreach (var cat in Model.Categories)
                {
                    <option value="@cat">@cat</option>
                }
            </select>
            <span class="invalid-feedback">Choose a category</span>
        </div>
        <input type="submit" />
    </form>
</div>

<form asp-action="index" asp-controller="outlay" method="post">
    <input type="submit" value="Show me my outlays. " />
</form>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(() => {
            $('form').submit((event) => {
                if (event.target.checkValidity() == false) {
                    event.preventDefault();
                    event.stopPropagation();
                }
                $(event.target).addClass('was-validated');
            })
        });
    </script>
}