/* GLOBAL */
.brand-color-dark {
    background: #00B233;
}

.brand-color-light {
    background: #00FF48;
}

.btn-my-edit, input[type="submit"] {
    margin: 0.5em 1em 0.5em 0em;
    width: 5em;
    background-color: #0AB239;
    border: 1px solid #CC7F14;
    color: #fff;
    font-size: 1.25em;
}

.btn-my-edit:hover, input[type="submit"]:hover {
    background-color: #41FF77;
    border: 1px solid #CC7F14;
    color: #fff;
}

.account-related-btns {
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

.display-4-my-edit {
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.2;
}

/* SPLASH PAGE */
.home-btn{
    margin: 0.5em 1em 0.5em 0em;
    width: 7em;
    background-color: #0AB239;
    border: 1px solid #CC7F14;
    color: #fff;
    padding: 0.5em;
    font-size: 1.50em;
}

.home-btn:hover {
    background-color: #41FF77;
    border: 1px solid #CC7F14;
    color: #fff;
}

#splash-page-container {
    background: #F5F5F5;
    height: 100vh;
}

#hero-text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

#btn-container {
    margin-top: 1em;
}

/* LOGIN/REGISTER */
#user-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30em;
    height: auto;
    padding: 1.5em;
    background-color: #FFF;
    border-radius: .4em;
    box-shadow: 0 0 2em 0 rgba(0,0,0,0.25);
}

.form-signin {
    width: 100%;
    max-width: 420px;
    padding-top: 10%;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .checkbox {
    font-weight: 400;
}

.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.account-related-btns > button {
    background-color: #0AB239;
    border: 1px solid #CC7F14;
}

.account-related-btns > button:hover {
    background-color: #41FF77;
}

/* DASHBOARD */
.chart-container {
    position: relative;
    height: 40vh;
    width: 80vw;
    display: flex;
    align-content: center;
}

.dropdown {
    margin: 1em 0 0.75em 0;
}

h3.chart-headers{
    text-align: center;
}

/* TRANSACTIONS/OUTLAYS/INFLOWS*/
fieldset {
    border: 3px solid #00B233;
    border-radius: 5px;
    padding: 0.5em;
}

fieldset legend {
    padding: 5px 10px;
    font-size: 1.5em;
    border-radius: 5px;
    margin-left: 20px;
    margin-bottom: 0;
    width: inherit;
}


/* NAVBAR */
.navbar-brand-my-edit {
    display: inline-block;
    margin-right: 1rem;
    font-size: 2.00rem;
    line-height: inherit;
    white-space: nowrap;
    color: #fff;
}

.navbar-brand-my-edit:hover {
    text-decoration: none;
    color: #00B233;
}

#sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding-left: 1em;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    position: sticky;
    /*Vh over 100 because pie charts make the page scroll.*/
    height: 120vh;
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto;
}


/* ENTER TRANSACTION */
.categories-select{
    display: inline;
}