/* GLOBAL */
.brand-color-dark {
    background: #00B233;
}

.brand-color-light {
    background: #00FF48;
}

.btn-my-edit, input[type="submit"] {
    margin: 0.5em 1em 0.5em 0em;
    width: 10em;
    background-color: #0AB239;
    border: 1px solid #CC7F14;
    color: #fff;
    padding: 0.5em;
    font-size: 1.50em;
}

.btn-my-edit:hover, input[type="submit"]:hover {
    background-color: #41FF77;
    border: 1px solid #CC7F14;
    color: #fff;
}

.account-related-btns {
    display: flex;
    justify-content: center;
    margin-top: 1em;
}


/* SPLASH PAGE */
#splash-page-container {
    background: #F5F5F5;
    height: 100vh;
}

#hero-text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

#btn-container {
    margin-top: 1em;
}

/* LOGIN/REGISTER */
#user-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30em;
    height: auto;
    padding: 1.5em;
    background-color: #FFF;
    border-radius: .4em;
    box-shadow: 0 0 2em 0 rgba(0,0,0,0.25);
}

form > input {
    display: block;
    width: 100%;
    font-size: 1.50em;
}

form > label {
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 0.5em;
}

/* DASHBOARD */
.chart-container {
    position: relative;
    height: 40vh;
    width: 50vw
}

#date-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* NAVBAR */
li.link-active a,
li.link-active a:hover,
li.link-active a:focus {
    background-color: #4189C7;
    color: white;
}

#sidebar {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    /* Import and mods of Bootstrap navbar, navbar-expand and col-2  */
    display: flex;
    flex: 0 0 25%;
    max-width: 25%;
    width: 100%;
    padding: 0.5rem 1rem;
    flex-flow: column wrap;
}


/* ENTER TRANSACTION */
.categories-select{
    display: inline;
}