@{
    Layout = null;
}

<div id="user-form">
    <form method="post">
        <label for="email">Enter the email associated with your account.</label>
        <input type="email" name="email" required/>
        <input type="submit" value="Submit" />
    </form>
</div>
