@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Layman Finance</title>
    <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/4.0.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div id="user-form">
        <h2 class="font-weight-normal text-center">Sign in</h2>
        <form asp-action="login" asp-controller="account" method="post" class="form-signin">
            <div class="form-label-group">
                <input type="email" name="username" class="form-control" placeholder="Email address" required autofocus>
            </div>
            <div class="form-label-group">
                <input type="password" name="password" class="form-control" placeholder="Password" required>
            </div>
            <div class="account-related-btns">
                <button class="btn btn-lg btn-block" type="submit">Login</button>
            </div>
            <div class="mt-2">
                <a asp-action="ForgotPassword">Forgot Password?</a>
            </div>
        </form>
        <div asp-validation-summary="All"></div>
    </div>
</body>
</html>






