@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Layman Finance</title>
    <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/4.0.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div asp-validation-summary="All"></div>
    <div id="user-form">
        <form asp-action="register" asp-controller="account" method="post">
            <label>Username</label>
            <input type="text" name="username" required />
            <label>Password</label>
            <input type="password" name="password" required />
            <div class="account-related-btns">
                <input type="submit" value="Register" class="btn" />
            </div>
        </form>
    </div>
</body>
</html>
